<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %> 

<body>

	<%- include('./partials/headerLogueado') %> 
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
		
			<div class="col-12">
				<form method="get">
					<input type="file" name="img" placeholder="Imagen del vehiculo">
					<input type="text" name="name" placeholder="Marca">
					<input type="text" name="desc" placeholder="Especificaciones del producto">
					<input type="date" name="date" placeholder="Año del auto">

					<button type="submit">Agregarzas	</button>
				</form>
			</div>
		


	
	<%- include('./partials/footer')  %>
</body>

</html>