<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %> 

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<div class="col-12">
				<form action="" method="get">
					<input type="text" name="username" placeholder="Nombre de Usuario">
					<input type="email" name="email" placeholder="Correo Electronico">
					<input type="password" name="password" placeholder="Correo Electronico">
					<input type="date" name="birthday" placeholder="Correo Electronico">
					<input type="number" name="dni" placeholder="Correo Electronico">
					<input type="file" name="image" placeholder="Correo Electronico">

					<button type="submit">Registrate</button>
				</form>
			</div>
			
			


	<%- include('./partials/footer')  %> 
</body>

</html>