<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %> 

<body>
	<% if (user.logueado) { %>
		<%- include('./partials/headerLogueado') %>
	   <% } else{%> 
		   <%- include('./partials/header') %>
	   <% } %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/login" method="post" id="formulario">
				<input name="email" type="email" placeholder="Correo Electronico" class="texto">
				<input name="password" type="password" placeholder="contraseña" class="texto">
				<div class="recordarme"> <p>recordarme</p> <input name="remember" type="checkbox" class="check"> </div>
				<input type="submit">
			</form>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>