<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %> 

<body>
	<% if (user.logueado) { %>
		<%- include('./partials/headerLogueado') %>
	   <% } else{%> 
		   <%- include('./partials/header') %>
	   <% } %> 
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			
		
			<div class="col-12">
				<form method="get" id="formulario" style="width: 300px;">
					<input type="file" name="img" placeholder="Imagen del vehiculo" class="texto" >
					<input type="text" name="name" placeholder="Marca"  class="texto">
					<input type="text" name="modelo" placeholder="Modelo"  class="texto">
					<input type="text" name="desc"  class="texto" placeholder="Especificaciones del producto">
					<input type="date" name="date-time" class="texto"  placeholder="Año del auto">

					<button type="submit" style="margin-top: 20px;">Agregar Producto	</button>
				</form>
			</div>
		


	
	<%- include('./partials/footer')  %>
</body>

</html>