<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<div class="col-12">
				<form action="" method="get" id="formulario" style="width: 300px;">
					<input type="text" name="username" placeholder="Nombre de Usuario" class="texto">
					<input type="text" name="name" placeholder="Nombre " class="texto">
					<input type="text" name="lastname" placeholder="Apellido" class="texto">
					<input type="email" name="email" placeholder="Correo Electronico" class="texto">
					<input type="password" name="password" placeholder="Contraseña" class="texto">
					<input type="date" name="birthday" placeholder="Fecha" class="texto">
					<input type="number" name="dni" placeholder="Documento" class="texto">
					<input type="file" name="image" style="margin-top: 10px;">
					<button type="submit" style="margin-top: 10px;">Editar Perfil</button>
				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>