<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %> 

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<div class="col-12">
				<form action="/users/register" method="POST"  id="formulario" style="width: 300px;">
					<input type="text" name="username" placeholder="Nombre de Usuario" class="texto">
					<input type="email" name="email" placeholder="Correo Electronico" class="texto">
					<input type="password" name="password" placeholder="Contraseña" class="texto">
					<input type="date" name="birthday" placeholder="Fecha" class="texto">
					<input type="file" name="image" style="margin-top: 10px;">
					<button type="submit" style="margin-top: 10px;">Registrate</button>
				</form>
			</div>
			
			

	<%- include('./partials/footer')  %> 
</body>

</html>